<div class="card-container">

  <mat-toolbar>
    <div class="toolbar-container">
      <span class="name">{{ 'HOME.HEADLINE' | translate }}</span>
    </div>
    <div>
      <button mat-icon-button aria-label="settings" (click)="openOrCloseMenu()"
              matTooltip="{{ 'HOME.SETTINGS' | translate }}"
              matTooltipPosition="above">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-toolbar-row *ngIf="openMenu">
    <div class="settings">
      <div class="slider-container">
        <mat-slide-toggle
          [checked]="true"
          (change)="setWithSQL()"
          style="">{{ 'HOME.WITH SQL' | translate }}
        </mat-slide-toggle>
      </div>
      <div class="language-container">
        <div class="language">
          <img *ngIf="isGermany" src="{{selectedLanguage.imgPath}}" alt="shows germany flag">
          <img *ngIf="!isGermany" src="{{selectedLanguage.imgPath}}" alt="shows germany flag">
          <button mat-button [matMenuTriggerFor]="langauge">{{selectedLanguage.value}}</button>
        </div>
        <mat-menu #langauge="matMenu">
          <div *ngFor="let lang of languages; let i = index">
            <div class="language">
              <img *ngIf="isGermany" src="{{lang.imgPath}}" alt="shows germany flag">
              <img *ngIf="!isGermany" src="{{lang.imgPath}}" alt="shows germany flag">
              <button mat-menu-item (click)="onLanguageChange(i)">{{lang.value}} - {{lang.abbreviation}}</button>
            </div>
          </div>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar-row>
  <div>
    <app-file-generator-card [withSQL]="withSQL" class="generator-card-container"></app-file-generator-card>
  </div>
</div>
