.dialog{
  overflow: hidden;
  width: auto;
  height: auto;
}

.headline-container{
  display: flex;
  flex-direction: row;
}

.btn-container{
  margin-left: 70%;
}

img{
  width: 700px;
  height: auto;
}
