<mat-card>
  <mat-card-header>
    <div class="icon-container">
      <mat-icon class="info-icon" (click)="openInfoDialog()">info</mat-icon>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div>
      <div *ngIf="!withSQL">
        <form [formGroup]="formGroupFile">
          <div class="first-form-field">
            <mat-form-field appearance="outline">
              <mat-label>Autor</mat-label>
              <input matInput type="text" placeholder="" [formControl]="controlAutor">
              <mat-hint align="end">{{'HOME.MIN' | translate}} 4 {{ 'HOME.CHARAKTERS' | translate }}</mat-hint>
            </mat-form-field>
          </div>
        </form>
      </div>
      <form [formGroup]="formGroupTemplate">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>{{'HOME.PRODUCT NAME' | translate}}</mat-label>
            <textarea matInput type="text" placeholder="" [formControl]="controlTitle">
                 </textarea>
            <mat-hint align="end">{{'HOME.MIN' | translate}} 2 {{ 'HOME.CHARACTERS' | translate }}</mat-hint>
          </mat-form-field>
        </div>
        <div>

          <mat-form-field appearance="outline">
            <mat-label>{{'HOME.CATEGORY' | translate}}</mat-label>
            <input matInput type="text"
                   [formControl]="controlCategory"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let cat of filteredCategories | async" [value]="cat">
                {{'HOME.'+cat.toUpperCase() | translate}}
              </mat-option>
            </mat-autocomplete>
            <mat-hint align="end"> {{'HOME.SEARCH FUNCTION' | translate}}</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>{{'HOME.DESCRIPTION' | translate}}</mat-label>
            <textarea matInput type="text" placeholder="" [formControl]="controlDescription">
              </textarea>
            <mat-hint align="end">{{'HOME.MIN' | translate}} 10 {{ 'HOME.CHARACTERS' | translate }}</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>{{'HOME.PRICE' | translate}}</mat-label>
            <input matInput type="number" placeholder="1.00" step="0.01" [formControl]="controlPrice">
            <mat-hint align="end">{{'HOME.NUMBERS ONLY' | translate}}</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>{{'HOME.PRICE ACCORDING' | translate}}</mat-label>
            <input matInput type="text" placeholder="{{'HOME.PER' | translate}}" [formControl]="controlPriceAccording">
          </mat-form-field>
        </div>
      </form>
    </div>
  </mat-card-content>
  <div class="mat-divider-container">
    <mat-divider></mat-divider>
  </div>
  <mat-card-actions>
    <button mat-fab class="btn-left"
            matTooltip="{{'HOME.ADD PRODUCT' | translate}}"
            matTooltipPosition="above"
            [matBadge]="counter"
            [disabled]="!isFormValid()"
            (click)="collectTamplateValues()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-fab class="btn-actions btn-right" *ngIf="submitted"
            (click)="createTemplate()">
      <mat-icon>check</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

