.mat-card {
  width: 95%;
  margin-top: 5%;
  background-color: WhiteSmoke;
  box-shadow: 20px 20px 5px grey;
  border-radius: 1rem;

  .mat-card-header{
    float: right;
  }
}

.headline-container{
  display: flex;
  flex-direction: row;
}

.info-icon{
  margin-top: 1.5%;
  margin-left: 15%;
}

.mat-card-title {
  padding-top: 2%;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 30px;
  text-align: center;
}

.mat-card-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mat-form-field{
  width: 800px;
  font-size: 14px;
}

.first-form-field{
  margin-top: 4%;
}

.mat-divider-container{
  width: 100%;
}

.mat-divider {
  display: block;
  margin: 0;
  border-top-width: 2px;
  border-top-style: solid;
  background-color: #301044;
}

.mat-card-actions{
  margin-top: 5%;
  display: flex;
  justify-content: center;
}


.mat-card-actions >button{
  width: 4rem;
  height: 4rem;
  margin-bottom: 2%;
}

.mat-badge-accent .mat-badge-content{
  background-color: lightgray;
}

.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  height: 60px;
  width: 60px;
  font-size: 2rem;
}

.btn-left{
  margin-right: 10%;
  background-color: #dbe800;
}

.btn-right{
  background-color: green;
}

@media (max-width: 510px) {
  .mat-card{
    height: 30%;
    margin-right: 12%;
  }

  .mat-form-field{
    width: 100px;
    font-size: 11px;
  }

  .mat-card-actions >button{
    margin-top: 2%;
    width: 1.5rem;
  }

  .mat-icon {
    width: 10px;
    font-size: 1rem;
  }

  .mat-badge-content{
    height: .8rem;
    font-size: 9px;
  }
}

.mat-slide-toggle{
  margin-top: 15%;
  margin-left: 35%;

}

@media (max-width: 610px) {
  .mat-card{
    width: 350px;
  }

  .mat-form-field{
    width: 200px;
    font-size: 11px;
  }

  .mat-card-actions >button{
    margin-top: 4%;
    width: 2.5rem;
    height: 2.8rem;
  }

  .mat-icon {
    width: 20px;
    font-size: 1rem;
  }

  .mat-badge-content{
    height: .8rem;
    font-size: 9px;
  }
}

@media (max-width: 710px) {

  .mat-form-field{
    width: 350px;
    font-size: 11px;
  }

  .mat-card-actions >button{
    margin-top: 4%;
    width: 3.5rem;
    height: 4rem;
  }

  .mat-icon {
    width: 40px;
    font-size: 2rem;
  }

  .mat-badge-content{
    height: 1rem;
    font-size: 12px;
  }
}


@media (max-width: 980px) {
  .mat-form-field{
    width: 4rem;
    font-size: 15px;
  }
}


@media (max-width: 1370px) {
  .mat-form-field{
    width: 80%;
  }

}

